body {
    background:#00FFFF;
    font-family:Arial, Helvetica, sans-serif;

}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background:#F0F8FF; 
}

.assignment img {
    width:500px;
    
    border: 2px solid #F0F8FF;
    margin-right: 20px;
}


h1 {
    color: #20B2AA;
    text-align:center;
    
}

a {
    text-decoration:none;
    color: #00FFFF;
}